/* Write your CSS here */
.projectTimeline_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project_image {
  width: 500px;
}
.project_heading_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project_heading {
  font-family: roboto;
  font-size: 28px;
  font-weight: bold;
  color: #1e293b;
}
.duration_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.duration_logo {
  margin-right: 5px;
}

.project_description {
  font-family: roboto;
  font-size: 16px;
  color: #1e293b;
}

.project_link {
  font-family: roboto;
  font-size: 18px;
  font-weight: 600;
  color: #0967d2;
  text-decoration: none;
  margin-bottom: 10px;
}
